<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
  </config>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Bimser" value="https://pkgs.dev.azure.com/bimser-dev/_packaging/bimser-dev/nuget/v3/index.json" />
    <add key="Devexpress" value="https://nuget.devexpress.com/vGs3ekaFa6t3nymQMLl2E9Gd7B8J9tIx5ecJWCaevQN8M18KjW/api" />
  </packageSources>

  <!-- Used to store credentials -->
  <packageSourceCredentials >
    <Bimser>
      <add key="Username" value="azure_iac@bimser.com.tr" />
      <add key="ClearTextPassword" value="hxwks5eengoz3wcjeegwl4jshezprwzvnk7ldz6e55ev4fxgkloq" />
    </Bimser>
  </packageSourceCredentials>

  <!-- Used to disable package sources  -->
  <disabledPackageSources />

  <apikeys>
  </apikeys>
</configuration>